<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your shopping list <%= @slist.name%> has been updated</h3>
    <p>
      <%= @iqp.item %> x <%= @iqp.quantity %> has been added to your shopping list by <%= @user.name %>.<br>
    </p>
  </body>
</html>