<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= @current_user.name %> has shared their shopping list <%= @slist.name %> with you.</h3>
    <p>
      Login to view the shopping list.
    </p>
  </body>
</html>